body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid red;
}

#hero {
    /* background-image: url('../images/bg-header.png'); */
    background-color: #39a38f;

}

.roran {
    padding-top: 40px;
    width: 500px;
    max-width: 500px;
    display: inline-block;
   
}

.rech{
    width: 440px;
    max-width: 460px;
    float: right;
    padding-top: 60px;
    display: inline-block;

    
}

/* .alignleft{
    float: left;
}

.alignright{
    float: right;
} */

nav{
    background-color: #fcfcfc;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e3e3;
  
}

.min_logo {
    float: left;
    display: inline-block;
}

.social {
    display: inline-block;
}

#menu {
    list-style-type: none;
}

#menu li {
    float: left;
    padding: 0 30px 30px 0;
}

.content_container{
    max-width: 620px;
    width: 100%;
    margin: 0 auto;
    align-content: center;
    padding-left: 350px;
    margin-top: 30px;
    border: 1px solid red;
}

.content_section{
    width: 960px;
    margin: 0 auto;
}

.box_con{
    width: 100px;
    height: 50px;
    display: inline-block;
    margin-left: 150px;
}



